[Unit]
Description=RPi Irrigation Bypass Sensor
After=network.target

[Service]
Environment=FLASK_RUN_HOST=
Environment=FLASK_RUN_PORT=80
WorkingDirectory=/home/pi/rain_sensor
ExecStart=/usr/local/bin/flask run
ExecStop=/usr/bin/python3 /home/pi/rain_sensor/gpio_cleanup.py
Restart=on-abnormal
RestartSec=15s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
