<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h2><u>RPi Automation</u></h2>
    <body>
        <head>
            <link rel="icon" href="data:,">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        </head>
        <style>
            th, td {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 30px;
                padding-right: 0px;
            }
        </style>
        <table cellspacing="10">
            <tr>
                <th style="text-align:center">
                    <b><u>Irrigation</u></b>
                </th>
                <th style="text-align:center">
                    <b><u>Current State</u></b>
                </th>
            </tr>
            <tr>
                <td style="text-align:center">
                    <button type="button" id="irr-toggle" style="height:35px;width:100px">On/Off</button>
                </td>
                <td style="text-align:center">
                    <div id="status"></div>
                </td>
            </tr>
        </table>
        </br>
        <div id="forecast_state"></div>
    </body>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "/check-state",
                type: "GET",
                success: function(response) {
                    $("#status").html(response);
                },
                error: $("#status").html("UNKNOWN")
            });
            $.ajax({
                url: "/forecast",
                type: "GET",
                success: function(response) {
                    $("#forecast_state").html(response);
                },
                error: $("#forecast_state").html("UNKNOWN")
            });
            $("#irr-toggle").click(function() {
                $.get("/check-state", function(response){
                    if (response == "OFF")
                        $.ajax({
                    	    url: "/change-state",
                            type: "POST",
                            data: JSON.stringify({"status": true}),
                            contentType: "application/json",
                            success: function(response) {
                                $("#status").html(response);
                            },
                            error: function(xhr) {
                            //Do Something to handle error
                            }
                        });
                    else
                        $.ajax({
                            url: "/change-state",
                            type: "POST",
                            data: JSON.stringify({"status": false}),
                            contentType: "application/json",
                            success: function(response) {
                                $("#status").html(response);
                            },
                            error: function(xhr) {
                            //Do Something to handle error
                            }
                        });
                });
            });
        });
    </script>
</html>
